.main {
    padding: 10px;
}

.header {
}

.allQuestionsAndAnswersContainer {
    /* background-color: grey; */
}

.questionAndAnswerContainer {
    /* background-color: tan; */
}

.titleContainer {
    display: inline-block;
}

.title {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 28px;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    kerning: normal;
    color: white;
    background-color: #00a680;
    padding: 10px;
    border-radius: 2px;
    border-color:#00a680 #267060 #267060 #00a680;
    text-align: center;
    border-width: 1px;
}

.button:hover {
    background-color: rgb(30, 191, 149);
}

.askButton {
    display: inline-block;
    float: right;
    margin-top: 18px;
}

.secondaryButton {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    kerning: normal;
    border-color: #e5e5e5 #767676 #767676 #e5e5e5;
    background-color: #fff;
    color: #00a680;
    padding: 10px;
    border-radius: 2px;
    border-width: 1px;
    margin-left: 10px;
}

.secondaryButton:hover {
    color: rgb(30, 191, 149);
}

.questionContainer {
    display: flex;
    margin-bottom: 10px;
    border-top-style: solid;
    border-color: lightgrey;
    border-width: 1px; 
    /* background-color: yellow; */
}

.question {
    font-family: Arial, Tahoma, sans-serif;
}

.responseFrom {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 13px;
}

.answersContainer {
    /* background-color: palevioletred; */
}

.answerContainer {
    border-left-style: solid;
    border-color: lightgrey;
    border-width: 1px; 
    padding-left: 28px;
    /* background-color: green; */
}

.answer {
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(128,128,128);
    font-weight: lighter;
}

.date {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 11px;
    color: rgb(128,128,128);
}

.username {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.avatarContainer {
    /* background-color: blue; */
    margin-right: 20px;
}

.avatarImage {
    margin-top: 28px;
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

.textEntry {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.1);
    font-size: 14px;
    width: 100%;
    resize: vertical;
    margin-bottom: 10px;
}


.questionSubmissionFormContainer {
    border-top-style: solid;
    border-color: lightgrey;
    border-width: 1px; 
    /* background-color: teal; */
}

.questionSubmissionHeader {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 20px;
    color: #000a12;
}